body {
	margin: 0;
	padding: 0;
	background-color: #161616;
	height: 100vh;
	font-family: 'Montserrat Alternates', sans-serif;
}
.flex {
	display: flex;
}
.col {
	flex-direction: column;
}
.start {
	justify-content: start;
}
.end {
	justify-content: end;
}
.center {
	justify-content: center;
}

.countdown {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40vh;
	padding-top: 2rem;
	/* padding-left: 2rem; */
	margin-top: 5rem;
}

.countdownTextTitle {
	font-size: 10rem;
	margin: 0;
	text-shadow: 5px 5px 20px #444444;
}
.countdownTextTimer {
	font-size: 10rem;
	margin: 0;
	color: rgb(129, 129, 129);
	margin-top: -6rem;
	text-shadow: 5px 5px 20px #240909;
}

.countdownTimer {
	font-size: 5rem;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}
.timeForm {
	height: 17vh;
}

.todoListTitle {
	font-size: 4rem;
	margin: 0;
	/* text-shadow: 5px 5px 20px #444444; */
	color: rgb(228, 228, 228);
}

.todoList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	background: transparent;
	border-radius: 10px;
	border: 2px solid grey;
	height: 2rem;
	padding-inline: 1rem;
	color: white;
	margin-inline: 2rem;
}
button {
	background-color: #272541;
	border: none;
	padding: 12px 24px;
	border-radius: 5px;
	color: white;
}
input::placeholder {
	color: rgb(226, 226, 226);
}

ul li {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.todoList ul li button {
	margin-left: 2rem;
}

.todoList ul li {
	margin-bottom: 2rem;
	padding: 10px 5px 10px 30px;
	border: 1px solid rgb(46, 20, 88);
	border-radius: 10px;
}
